* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #2a2f4e;
    -ms-overflow-style: none;
    scrollbar-width: none; 
}

body::-webkit-scrollbar {
    display: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.brand-title {
    font-size: 2.5rem;
    margin: 0.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-transform: uppercase;
}

.navbar-links li a {
    font-weight: 600;
    margin: 0 3rem 0 3rem;
    font-size: 1.5rem;
    display: block;
}

.navbar-links li a:hover {
    color: #00cdf9;
}

.toggle-button {
    position:  absolute;
    top: 0.9rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;

}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.centered {
    color: white;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-top {
    margin-top: 300px;
    display: block;
    text-align: center;
}

.section-top h1 {
    font-size: 5rem;
}

.section-middle {
    margin-top: 500px;
    text-align: center;
}

.section-middle h1 {
    font-size: 3rem;
}

.aboutme-link {
    margin-top: 100px;
    padding: 0.6rem;
    font-size: 2rem;
    border-radius: 2rem;
    background-color: #00cdf9;
}

.section-bottom {
    margin-top: 600px;
    flex-direction: row;
}
.section-bottom a {
    transition: all 0.2s ease-in-out;
}

.section-bottom img {
    width: 128px;
    height: 128px;
    margin: 0 2rem 0 2rem;
    filter: drop-shadow(1px 1px 3px #272727);
}

.section-bottom a:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.about-section {
    margin-top: 300px;
    text-align: center;
}

.about-section h1 {
    font-size: 3rem;
}

@media (max-width: 600px) {
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar.active {
        background-color: #424c6e;
        filter: drop-shadow(2px 2px 3px #272727);
    }

    .brand-title {
        font-size: 1.6rem;
    }

    .navbar-links {
        width: 100%;
        display: none;
    }

    .navbar-links.active {
        display: flex;
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        margin: 1rem;
        font-size: 1rem;
    }

    .toggle-button {
        display: flex;
    }

    .toggle-button.active .bar {
        background-color: #00cdf9;
    }

    .section-top {
        margin-top: 100px;
    }

    .section-top h1 {
        font-size: 2.2rem;
    }

    .section-middle {
        margin-top: 150px;
    }
    
    .section-middle h1 {
        font-size: 14px;

    }

    .aboutme-link {
        margin-top: 50px;
        padding: 0.4rem;
        font-size: 1rem;
        border-radius: 2rem;
        background-color: #00cdf9;
    }

    .section-bottom {
        margin-top: 170px;
    }

    .section-bottom img {
        width: 48px;
        height: 48px;
        margin: 0 1rem 0 1rem;
    }

    .about-section {
        margin-top: 200px;
    }
    
    .about-section h1 {
        font-size: 1rem;
    }
}